.carrusel{
    /* border: 1px solid red; */
    overflow: hidden;
    &__content{
        display: flex;
        flex-direction: row;
        width: 300%;
        height: 320px;
        animation: cambio 20s infinite ease-in-out alternate;
        &__img{
            background-color: rgba(0, 0, 0);
            position: relative;
            width: 100%;
            &__i{
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
                background-position: center;
                opacity: 0.7;
            }
            &__text{
                color: white;
                position: absolute;
                top: 50%;
                transform: translateY(-50%) translateX(-50%);
                left: 50%;
                /* border: 1px solid red; */
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                &__t1{
                    font-size: 2rem;
                    font-family: 'Inconsolata', monospace;
                }
                &__t2{
                    font-size: 0.7rem;
                    font-weight: 400;
                    letter-spacing: 4px;
                }
                &__link{
                    text-decoration: none;
                    color: white;
                    border: 2px solid #ff4e00;
                    padding: 5px 20px;
                    text-transform: uppercase;
                    font-weight: 200;
                    letter-spacing: 3px;
                    font-size: 0.7rem;
                }
                &__link:hover{
                    background-color: #ff4e00;
                    transition: 0.5s all;
                }
                @media (min-width: 500px) {
                    &__t1{
                        font-size: 3rem;
                    }
                    &__t2{
                        font-size: 1rem;
                    }
                    &__link{
                        padding: 10px 25px;
                        font-size: 1rem;
                    }
                }
            }
        }
        @media (min-width:800px){
            height: 600px;
        }
    }
}

@keyframes cambio{
    0%{margin-left: 0;}
    30%{margin-left: 0;}

    33%{margin-left: -100%;}
    63%{margin-left: -100%;}

    66%{margin-left: -200%;}
    100%{margin-left: -200%;}
}

.product{
    padding: 35px 25px;
    font-family: 'Inconsolata', monospace;
    &__part1{
        /* border: 1px solid red; */
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 10px;
        @media (min-width:800px) {
            grid-template-columns: repeat(4, 1fr);
            grid-gap: 10px;
        }
        &__prod{
            border: 1px solid rgb(224, 221, 221);
            padding: 20px 10px;
            height: 100%;
            min-height: 400px;
            &__cata{
                &__img{
                    width: 100%;
                    height: 100px;
                    min-height: 200px;
                    object-fit: cover;
                    border: 1px solid rgb(224, 221, 221);
                }
                &__text{
                    margin-top: 50px;
                    /* border: 1px solid rebeccapurple; */
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    &__t1{
                        margin: 0;
                        font-weight: 500;
                    }
                    &__price{
                        color: #ff4e00;
                        font-weight: 700;
                    }
                    &__cart{
                        width: 25px;
                        margin: 0 auto;
                    }
                    &__cart:hover{
                        cursor: pointer;
                    }
                }
            }
        }

    }
}

.reloj{
    padding: 35px 25px;
    font-family: 'Inconsolata', monospace;
    /* border: 1px solid red; */
    &__img{
        position: relative;
        background-image: url("./img/girls-g1ca5493b1_1280.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 300px;
        min-height: 450px;
        /* border: 1px solid red; */
        @media (min-width:800px) {
            background-position: top;
        }
        &__text{
            color: white;
            position: absolute;
            top:0px;
            left:0px;
            /* border: 1px solid blue; */
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.525);
            text-align: center;
            &__cont{
                position: relative;
                top: 50%;
                transform: translateY(-50%);
                /* border: 1px solid green; */
                &__numb{
                    font-size: 1.5rem;
                    /* border: 1px solid olive; */
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    &__fecha{
                        /* border: 1px solid blue; */
                        display: flex;
                        flex-direction: column;
                        height: 70px;
                        margin-right: 15px;
                        &__n{
                            margin: 0;
                            font-size: 1.5rem;
                        }
                        &__t{
                            font-size: 0.9rem;
                        }
                        @media (min-width: 600px) {
                            margin-right: 30px;
                            &__n{
                                font-size: 2rem;
                            }
                            &__t{
                                font-size: 1rem;
                            }
                        }
                    }
                }
                &__title{
                    letter-spacing: 5px;
                    margin: 30px 0;
                    @media (min-width: 600px){
                        letter-spacing: 10px;
                        font-size: 2.3rem;
                    }
                }
            }
        }
    }
}

.carruselcatal{
    padding: 35px 25px;
    font-family: 'Inconsolata', monospace;
    .prodcata{
        border: 1px solid rgb(224, 221, 221);
        &__img{
            width: 100%;
            object-fit: cover;
            height: 300px;
        }
        &__text{
            /* border: 1px solid blueviolet; */
            padding: 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            &__t1{
                margin: 0;
            }
            &__cart{
                width: 30px;
            }
            &__cart:hover{
                cursor: pointer;
            }
            &__price{
                color: #ff4e00;
                font-weight: 700;
            }
        }
    }
    

    .carousel-indicators{
        position: static;
        margin: 0 0 0 0;
        background-color:#ff4e00;
    }
}

.testimonios{
    padding: 35px 0px;
    margin: 0 25px;
    background-color: rgba(221, 216, 216, 0.349);
    font-family: 'Inconsolata', monospace;
    @media (min-width:600px) {
        height: 300px;
    }
    &__title{
        text-align: center;
    }
    &__subtitle{
        text-align: center;
        font-size: 1.2rem;
        /* border: 1px solid red; */
        margin: 15px 0;
        span{
            color: grey;
        }
        &__text1{
            margin: 0;
        }
        &__text2{
            color: #ff4e00;
            margin: 0;
        }
    }
    &__parrafo{
        padding: 0 45px;
        text-align: center;
        color: grey;
        /* border: 1px solid red; */
        @media (min-width:600px) {
            /* border: 1px solid red; */
            width: 80%;
            margin: 0 auto;
        }
    }
}

.carousel-control-prev-icon,.carousel-control-next-icon{
    /* color: red; */
    /* background-color: #ff4e00; */
    padding: 20px;
}

.dosimg{
    padding: 35px 25px;
    font-family: 'Inconsolata', monospace;
    @media (min-width:1000px) {
        display: flex;
        justify-content: space-between;
        gap: 50px;
    }
    &__img1{
        width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        &__img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &__text{
            position: absolute;
            /* border: 1px solid green; */
            left: 50px;
            top: 40px;
            &__t1{
                color: white;
                text-shadow: 1px 1px 2px black;
                font-size: 1.5rem;
                
                letter-spacing: 3px;
                &__destac{
                    color: #ff4e00;
                }
            }
        }
        &__circul{
            background-color: rgba(0, 0, 0, 0.214);
            border: 2px solid white;
            position: absolute;
            /* right: -180px;
            bottom: -180px; */
            border-radius: 100%;
            padding: 70px 30px;
            right: -180px;
            bottom: -180px;
            transition: all 0.8s;
            &__text{
                /* border: 1px solid red; */
                text-align: left;
                width: 150px;
                color: white;
                /* text-shadow: 0.5px 0.5px 0.5px black; */
                font-weight: 700
            }
        }
        
    }
    &__img1:hover .dosimg__img1__circul{
        transform: scale(1.3);
        right: -65px;
        bottom: -50px;
        
    }
}