.footer{
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 40px 10px;
    font-family: 'Inconsolata', monospace;
}

.sec1{
    /* border: 1px solid red; */
    margin-bottom: 40px;
    &__title{
        font-size: 1.2rem;
        font-weight: 400;
    }
    &__liner{
        border-bottom: 0.2px dashed #616263;
        margin: 10px 0;
    }
    &__text{
        color: #616263;
    }
    &__list{
        display: flex;
        text-decoration: none;
        list-style: none;
        /* gap: 30px; */
        /* border: 1px solid red; */
        justify-content: space-between;
        padding: 0;
        width: 75%;
        @media (min-width:600px) {
            width: 45%;
        }
        &__arg a img{
            width: 20px;
        }
    }
    &__local{
        &__title{
            color: #ff4e00;
            font-size: 1.2rem;
            font-weight: 300;
        }
        &__text{
            color: #616263;
            display: flex;
            flex-direction: column;
            font-size: 300;
            &__email{
                &__link{
                    text-decoration: none;
                    color: #616263;
                }
            }
        }
    }
}

.sec3{
    &__list{
        list-style: none;
        padding: 0;
        &__arg{
            margin: 20px 0;
            &__link{
                color: #616263;
                text-decoration: none;
                padding: 0;
            }
            &__link:hover{
                color: white;
                transition: all 1s;
            }
        }
    }
}

.sec4{
    &__correo{
        position: relative;
        /* border: 1px solid red; */
    }
    &__email{
        background-color: transparent;
        border: 1px solid #616263;
        outline: none;
        padding: 10px;
        width: 100%;
        color: white;
    }
    &__img{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
    }
}

.sec5{
    &__text{
        text-align: center;
        /* border: 1px solid red; */
        margin: auto;
        &__link{
            text-decoration: none;
            color: #ff4e00;
        }
    }
}

@media (min-width:1000px) {
    .footer{
        &__cont{
            display: flex;
            justify-content: space-around;
            /* border: 1px solid white; */
            width: 100%;
        }
        .sec1,.sec2,.sec3,.sec4{
            width: 22%;
            /* border: 1px solid green; */
        }
        .sec1{
            &__list{
                width: 100%;
            }
        }
    }
}