.header{
/*     border: 1px solid red; */
    padding: 15px;
    overflow: hidden;
}

.box1{
    color: grey;
    /* border: 1px solid red; */
    &__text1{
        display: block;
        margin: 10px 0;
        text-align: center;
        /* border: 1px solid greenyellow; */
        font-size: 0.8rem;
        letter-spacing: 2px;
    }
    &__cont{
        color: grey;
        /* border: 1px solid blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        &__tel{
            width: 15px;
            margin-top: -15px;
        }
        &__text2{
            letter-spacing: 1px;
        }
    }
    &__directitle{
        text-decoration: none;
        display: block;
        width: 270px;
        /* border: 1px solid red; */
        margin: 0 auto;
    }
    &__title{
        color: rgb(66, 65, 65);
        text-shadow: 1px 1.5px 1px hwb(0 0% 100% / 0.436);
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 800;
        font-size: 3rem;
        text-align: center;
    }
    &__cont2{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        &__user{
            width: 15px;
            height: 15px;
        }
        &__user:hover{
            cursor: pointer;
        }
        &__cart{
            border: 1px solid rgb(220, 219, 219);
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px 40px;
            color: black;
            &__text{
                margin: 5px 0;
            }
            &__img{
                width: 25px;
            }
        }
        &__cart:hover{
            cursor: pointer;
        }
    }
    &__liner{
        border-bottom: 1px solid rgb(220, 219, 219);
        width: 90%;
        margin: 20px auto;
    }
    &__cont3{
        display: flex;
        align-items: center;
        justify-content: center;
        /* border: 1px solid firebrick; */
        width: 45%;
        margin: 0 auto;
        .nav{
            display: none;
        }
        &__menu{
            border: 1px solid rgb(220, 219, 219);
            border-radius: 5px;
            padding: 5px 7px;
            width: 60px;
            height: 48px;
            margin: 0 auto;
        }
        &__menu:hover{
            cursor: pointer;
            border: 2px solid #ff4e00;
            /* border: 2px solid black; */
        }
        &__lupa{
            width: 30px;
        }
        &__lupa:hover{
            cursor: pointer;
        }
    }
    .nav2{
        /* border: 1px solid red; */
        margin-left: -100%;
        height: 0;
        /* position: relative; */
        &__list{
            /* height: 0; */
            /* border: 1px solid green; */
            
            list-style: none;
            &__arg{
                /* border: 1px solid red; */
                .selec2{
                    color: #ff4e00;
                }
                padding: 10px 0;
                &__link{
                    text-decoration: none;
                    color: gray;
                    text-transform: uppercase;
                    font-family: 'Inconsolata', monospace;
                    letter-spacing: 2px;
                    /* border: 1px solid blue; */
                }
                &__link:hover{
                    color: #ff4e00;
                }
            }
        }
        .subfecture{
            /* border: 1px solid rgb(201, 199, 199);
            margin: 5px 80px;
            padding: 40px 20px; */
            font-family: 'Inconsolata', monospace;
            height: 0;
            overflow: hidden;
            transition: all 0.2s;
            &__sec1{
                &__part1{
                    &__title{
                        color: black;
                        font-size: 1.5rem;
                        font-weight: 500;
                        margin: 0;
                        /* border: 1px solid orange; */
                    }
                    &__text{
                        list-style: none;
                        padding: 10px 0;
                        /* border: 1px solid blue; */
                        &__item{
                            &__link{
                                text-decoration: none;
                                color: grey;
                            }
                        }
                    }
                }
            }
            &__sec2{
                &__part1{
                    /* border: 1px solid red; */
                    &__img{
                        padding: 5px 0;
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }
        }
        .despleg:hover{
            .subfecture{
                height: 100%;
                overflow: visible;
                border: 1px solid rgb(201, 199, 199);
                margin: 5px 80px;
                padding: 40px 20px;
            }
        }
    }
    .mostrar{
        height: 100%;
        margin-left: 0;
        transition: 0.5s all;
    }
    @media (min-width:800px) {
        position: relative;
        padding: 15px;
        &__800px{
            /* border: 1px solid gray; */
            display: inline-block;
            position: absolute;
        }
        &__text1{
            /* border: 1px solid greenyellow; */
            text-align: left;
        }
        /* &__cont{
            border: 1px solid blue;
        } */
        &__cont2{
            display: inline-block;
            position: absolute;
            top: 0;
            right: 0;
            margin: 5px;
            /* border: 1px solid red; */
            
            &__user{
                position: relative;
                left: 88%;
                margin-bottom: 10px;
            }
            &__cart{
                padding: 5px 20px;
                width: 130px;
                &__img{
                    width: 20px;
                }
            }
        }
        &__liner{
            width: 50%;
        }
    }
    @media (min-width: 1000px) {
        .nav2{
            display: none;
        }
        &__directitle{
            /* border: 1px solid green; */
            width: 500px;
        }
        &__title{
            font-size: 4rem;
        }
        &__cont3{
            .nav{
                display: block;
                /* border: 1px solid navy; */
                height: 40px;
                &__list{
                    margin: 5px;
                    list-style: none;
                    display: flex;
                    /* border: 1px solid green; */
                    position: relative;
                    &__arg{
                        .selec{
                            color: #ff4e00;
                        }
                        &__link{
                            margin-right: 30px;
                            text-decoration: none;
                            color: grey;
                            text-transform: uppercase;
                            font-family: 'Inconsolata', monospace;
                            letter-spacing: 2px;
                        }
                        &__link:hover{
                            color: #ff4e00;
                        }
                    }
                }
            }
            &__menu{
                display: none;
            }
        }
        /* .subfecture{
            border: 1px solid orangered;
            position: absolute;
            top: 30px;
            left: 0;
            height: 450px;
            width: 550px;
            background-color: white;
            
        } */
        .subfecture{
            border: 1px solid orange;
        }
    }
}

