.header {
  /*  border: 1px solid red; */
  padding: 15px;
  overflow: hidden;
}

.box1 {
  color: grey;
  /* border: 1px solid red; */
}
.box1__text1 {
  display: block;
  margin: 10px 0;
  text-align: center;
  /* border: 1px solid greenyellow; */
  font-size: 0.8rem;
  letter-spacing: 2px;
}
.box1__cont {
  color: grey;
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.box1__cont__tel {
  width: 15px;
  margin-top: -15px;
}
.box1__cont__text2 {
  letter-spacing: 1px;
}
.box1__directitle {
  text-decoration: none;
  display: block;
  width: 270px;
  /* border: 1px solid red; */
  margin: 0 auto;
}
.box1__title {
  color: rgb(66, 65, 65);
  text-shadow: 1px 1.5px 1px hwb(0 0% 100%/0.436);
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3rem;
  text-align: center;
}
.box1__cont2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
.box1__cont2__user {
  width: 15px;
  height: 15px;
}
.box1__cont2__user:hover {
  cursor: pointer;
}
.box1__cont2__cart {
  border: 1px solid rgb(220, 219, 219);
  display: flex;
  align-items: center;
  gap: 5px;
  padding: 10px 40px;
  color: black;
}
.box1__cont2__cart__text {
  margin: 5px 0;
}
.box1__cont2__cart__img {
  width: 25px;
}
.box1__cont2__cart:hover {
  cursor: pointer;
}
.box1__liner {
  border-bottom: 1px solid rgb(220, 219, 219);
  width: 90%;
  margin: 20px auto;
}
.box1__cont3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid firebrick; */
  width: 50%;
  margin: 0 auto;
}
.box1__cont3 .nav {
  display: none;
}
.box1__cont3__menu {
  border: 1px solid rgb(220, 219, 219);
  border-radius: 5px;
  padding: 5px 7px;
  width: 60px;
  height: 48px;
  margin: 0 auto;
}
.box1__cont3__menu:hover {
  cursor: pointer;
  border: 2px solid #ff4e00;
  /* border: 2px solid black; */
}
.box1__cont3__lupa {
  width: 30px;
}
.box1__cont3__lupa:hover {
  cursor: pointer;
}
.box1 .nav2 {
  /* border: 1px solid red; */
  margin-left: -100%;
  height: 0;
  /* position: relative; */
}
.box1 .nav2__list {
  /* height: 0; */
  /* border: 1px solid green; */
  list-style: none;
}
.box1 .nav2__list__arg {
  /* border: 1px solid red; */
  padding: 10px 0;
}
.box1 .nav2__list__arg .selec2 {
  color: #ff4e00;
}
.box1 .nav2__list__arg__link {
  text-decoration: none;
  color: gray;
  text-transform: uppercase;
  font-family: "Inconsolata", monospace;
  letter-spacing: 2px;
  /* border: 1px solid blue; */
  font-size: 0.8rem;
}
@media (min-width: 800px) {
  .box1 .nav2__list__arg__link {
    font-size: 1rem;
  }
}
.box1 .nav2__list__arg__link:hover {
  color: #ff4e00;
}
.box1 .nav2 .subfecture {
  /* border: 1px solid rgb(201, 199, 199);
  margin: 5px 80px;
  padding: 40px 20px; */
  font-family: "Inconsolata", monospace;
  height: 0;
  overflow: hidden;
  transition: all 0.2s;
}
.box1 .nav2 .subfecture__sec1__part1__title {
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  /* border: 1px solid orange; */
}
.box1 .nav2 .subfecture__sec1__part1__text {
  list-style: none;
  padding: 10px 0;
  /* border: 1px solid blue; */
}
.box1 .nav2 .subfecture__sec1__part1__text__item__link {
  text-decoration: none;
  color: grey;
}
.box1 .nav2 .subfecture__sec2__part1 {
  /* border: 1px solid red; */
}
.box1 .nav2 .subfecture__sec2__part1__img {
  padding: 5px 0;
  width: 100%;
  object-fit: cover;
}
.box1 .nav2 .despleg:hover .subfecture {
  height: 100%;
  overflow: visible;
  border: 1px solid rgb(201, 199, 199);
  margin: 5px 0px;
  padding: 40px 20px;
}
@media (min-width: 600px) {
  .box1 .nav2 .despleg:hover .subfecture {
    margin: 5px 80px;
  }
}
.box1 .mostrar {
  height: 100%;
  margin-left: 0;
  transition: 0.5s all;
}
@media (min-width: 800px) {
  .box1 {
    position: relative;
    padding: 15px;
    /* &__cont{
        border: 1px solid blue;
    } */
  }
  .box1__800px {
    /* border: 1px solid gray; */
    display: inline-block;
    position: absolute;
  }
  .box1__text1 {
    /* border: 1px solid greenyellow; */
    text-align: left;
  }
  .box1__cont2 {
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    /* border: 1px solid red; */
  }
  .box1__cont2__user {
    position: relative;
    left: 88%;
    margin-bottom: 10px;
  }
  .box1__cont2__cart {
    padding: 5px 20px;
    width: 130px;
  }
  .box1__cont2__cart__img {
    width: 20px;
  }
  .box1__liner {
    width: 50%;
  }
}
@media (min-width: 1000px) {
  .box1 .nav2 {
    display: none;
  }
  .box1__directitle {
    /* border: 1px solid green; */
    width: 500px;
  }
  .box1__title {
    font-size: 4rem;
  }
  .box1__cont3 {
    /* border: 1px solid red; */
    gap: 30px;
  }
  .box1__cont3 .nav {
    display: flex;
    /* border: 1px solid navy; */
    width: 90%;
    justify-content: space-between;
    height: 40px;
  }
  .box1__cont3 .nav__list {
    margin: 5px 0px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    /* gap: 35px; */
    /* border: 1px solid green; */
    position: relative;
    width: 100%;
  }
  .box1__cont3 .nav__list__arg {
    /* border: 1px solid red; */
    /* margin-right: 20px; */
  }
  .box1__cont3 .nav__list__arg .selec {
    color: #ff4e00;
  }
  .box1__cont3 .nav__list__arg__link {
    text-decoration: none;
    color: grey;
    text-transform: uppercase;
    font-family: "Inconsolata", monospace;
    letter-spacing: 2px;
    /* border: 1px solid blueviolet; */
    width: 100%;
  }
  .box1__cont3 .nav__list__arg__link:hover {
    color: #ff4e00;
  }
  .box1__cont3__menu {
    display: none;
  }
  .box1 .subfecture {
    position: absolute;
    top: 20px;
    left: -50%;
    /* border: 1px solid red; */
  }
}

.carrusel {
  /* border: 1px solid red; */
  overflow: hidden;
}
.carrusel__content {
  display: flex;
  flex-direction: row;
  width: 300%;
  height: 320px;
  animation: cambio 20s infinite ease-in-out alternate;
}
.carrusel__content__img {
  background-color: rgb(0, 0, 0);
  position: relative;
  width: 100%;
}
.carrusel__content__img__i {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-position: center;
  opacity: 0.7;
}
.carrusel__content__img__text {
  color: white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  left: 50%;
  /* border: 1px solid red; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carrusel__content__img__text__t1 {
  font-size: 2rem;
  font-family: "Inconsolata", monospace;
}
.carrusel__content__img__text__t2 {
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 4px;
}
.carrusel__content__img__text__link {
  text-decoration: none;
  color: white;
  border: 2px solid #ff4e00;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 0.7rem;
}
.carrusel__content__img__text__link:hover {
  background-color: #ff4e00;
  transition: 0.5s all;
}
@media (min-width: 500px) {
  .carrusel__content__img__text__t1 {
    font-size: 3rem;
  }
  .carrusel__content__img__text__t2 {
    font-size: 1rem;
  }
  .carrusel__content__img__text__link {
    padding: 10px 25px;
    font-size: 1rem;
  }
}
@media (min-width: 800px) {
  .carrusel__content {
    height: 600px;
  }
}

@keyframes cambio {
  0% {
    margin-left: 0;
  }
  30% {
    margin-left: 0;
  }
  33% {
    margin-left: -100%;
  }
  63% {
    margin-left: -100%;
  }
  66% {
    margin-left: -200%;
  }
  100% {
    margin-left: -200%;
  }
}
.product {
  padding: 35px 25px;
  font-family: "Inconsolata", monospace;
}
.product__part1 {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}
@media (min-width: 1000px) {
  .product__part1 {
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
}
.product__part1__prod {
  border: 1px solid rgb(224, 221, 221);
  padding: 20px 10px;
  height: 100%;
  min-height: 400px;
}
.product__part1__prod__cata__img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 1px solid rgb(224, 221, 221);
}
@media (min-width: 800px) {
  .product__part1__prod__cata__img {
    height: 300px;
  }
}
.product__part1__prod__cata__text {
  margin-top: 50px;
  /* border: 1px solid rebeccapurple; */
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product__part1__prod__cata__text__t1 {
  margin: 0;
  font-weight: 500;
}
.product__part1__prod__cata__text__price {
  color: #ff4e00;
  font-weight: 700;
}
.product__part1__prod__cata__text__cart {
  width: 25px;
  margin: 0 auto;
}
.product__part1__prod__cata__text__cart:hover {
  cursor: pointer;
}

.reloj {
  padding: 35px 25px;
  font-family: "Inconsolata", monospace;
  /* border: 1px solid red; */
}
.reloj__img {
  position: relative;
  background-image: url("./img/girls-g1ca5493b1_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 300px;
  min-height: 450px;
  /* border: 1px solid red; */
}
@media (min-width: 800px) {
  .reloj__img {
    background-position: top;
  }
}
.reloj__img__text {
  color: white;
  position: absolute;
  top: 0px;
  left: 0px;
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.525);
  text-align: center;
}
.reloj__img__text__cont {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  /* border: 1px solid green; */
}
.reloj__img__text__cont__numb {
  font-size: 1.5rem;
  /* border: 1px solid olive; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}
.reloj__img__text__cont__numb__fecha {
  /* border: 1px solid blue; */
  display: flex;
  flex-direction: column;
  height: 70px;
  margin-right: 15px;
}
.reloj__img__text__cont__numb__fecha__n {
  margin: 0;
  font-size: 1.5rem;
}
.reloj__img__text__cont__numb__fecha__t {
  font-size: 0.9rem;
}
@media (min-width: 600px) {
  .reloj__img__text__cont__numb__fecha {
    margin-right: 30px;
  }
  .reloj__img__text__cont__numb__fecha__n {
    font-size: 2rem;
  }
  .reloj__img__text__cont__numb__fecha__t {
    font-size: 1rem;
  }
}
.reloj__img__text__cont__title {
  letter-spacing: 5px;
  margin: 30px 0;
}
@media (min-width: 600px) {
  .reloj__img__text__cont__title {
    letter-spacing: 10px;
    font-size: 2.3rem;
  }
}

.carruselcatal {
  padding: 35px 25px;
  font-family: "Inconsolata", monospace;
}
.carruselcatal .prodcata {
  border: 1px solid rgb(224, 221, 221);
}
.carruselcatal .prodcata__img {
  width: 100%;
  object-fit: cover;
  height: 300px;
}
.carruselcatal .prodcata__text {
  /* border: 1px solid blueviolet; */
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.carruselcatal .prodcata__text__t1 {
  margin: 0;
}
.carruselcatal .prodcata__text__cart {
  width: 30px;
}
.carruselcatal .prodcata__text__cart:hover {
  cursor: pointer;
}
.carruselcatal .prodcata__text__price {
  color: #ff4e00;
  font-weight: 700;
}
.carruselcatal .carousel-indicators {
  position: static;
  margin: 0 0 0 0;
  background-color: #ff4e00;
}

.testimonios {
  padding: 35px 0px;
  margin: 0 25px;
  background-color: rgba(221, 216, 216, 0.349);
  font-family: "Inconsolata", monospace;
}
@media (min-width: 600px) {
  .testimonios {
    height: 300px;
  }
}
.testimonios__title {
  text-align: center;
}
.testimonios__subtitle {
  text-align: center;
  font-size: 1.2rem;
  /* border: 1px solid red; */
  margin: 15px 0;
}
.testimonios__subtitle span {
  color: grey;
}
.testimonios__subtitle__text1 {
  margin: 0;
}
.testimonios__subtitle__text2 {
  color: #ff4e00;
  margin: 0;
}
.testimonios__parrafo {
  padding: 0 45px;
  text-align: center;
  color: grey;
  /* border: 1px solid red; */
}
@media (min-width: 600px) {
  .testimonios__parrafo {
    /* border: 1px solid red; */
    width: 80%;
    margin: 0 auto;
  }
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  /* color: red; */
  /* background-color: #ff4e00; */
  padding: 20px;
}

.dosimg {
  padding: 35px 25px;
  font-family: "Inconsolata", monospace;
}
@media (min-width: 1000px) {
  .dosimg {
    display: flex;
    justify-content: space-between;
    gap: 50px;
  }
}
.dosimg__img1 {
  width: 100%;
  height: 300px;
  overflow: hidden;
  position: relative;
}
.dosimg__img1__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.dosimg__img1__text {
  position: absolute;
  /* border: 1px solid green; */
  left: 50px;
  top: 40px;
}
.dosimg__img1__text__t1 {
  color: white;
  text-shadow: 1px 1px 2px black;
  font-size: 1.5rem;
  letter-spacing: 3px;
}
.dosimg__img1__text__t1__destac {
  color: #ff4e00;
}
.dosimg__img1__circul {
  background-color: rgba(0, 0, 0, 0.214);
  border: 2px solid white;
  position: absolute;
  /* right: -180px;
  bottom: -180px; */
  border-radius: 100%;
  padding: 70px 30px;
  right: -180px;
  bottom: -180px;
  transition: all 0.8s;
}
.dosimg__img1__circul__text {
  /* border: 1px solid red; */
  text-align: left;
  width: 150px;
  color: white;
  /* text-shadow: 0.5px 0.5px 0.5px black; */
  font-weight: 700;
}
.dosimg__img1:hover .dosimg__img1__circul {
  transform: scale(1.3);
  right: -65px;
  bottom: -50px;
}

.resenas {
  padding: 35px 25px;
  font-family: "Inconsolata", monospace;
  /* border: 1px solid blue; */
}
@media (min-width: 1000px) {
  .resenas {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
  }
}
.resenas__sec {
  /* border: 1px solid red; */
  text-align: center;
  margin: 20px 0;
}
.resenas__sec__img {
  width: 40px;
  margin: 5px 0;
}
.resenas__sec__text {
  /* border: 1px solid rebeccapurple; */
  margin: 10px 0;
}
.resenas__sec__text__title {
  font-size: 1.3rem;
  padding: 5px 0 0 0;
}
.resenas__sec__text__parrafo {
  color: grey;
  /* border: 1px solid red; */
  width: 80%;
  margin: 20px auto;
  font-size: 1rem;
}
.resenas__sec__text__link {
  text-decoration: none;
  color: black;
  border: 2px solid #ff4e00;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 1rem;
  margin: 10px 0;
}
.resenas__sec__text__link:hover {
  color: white;
  background-color: #ff4e00;
  transition: 0.5s all;
}

.servicies {
  padding: 25px 20px;
  margin: 20px 25px;
  font-family: "Inconsolata", monospace;
  background-color: rgba(221, 216, 216, 0.349);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
@media (min-width: 800px) {
  .servicies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .servicies__part__img {
    margin-right: 10px;
  }
}
@media (min-width: 1000px) {
  .servicies {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}
.servicies__part {
  /* border: 1px solid red; */
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  gap: 15px;
  margin: 10px 0;
}
@media (min-width: 1100px) {
  .servicies__part {
    margin-right: 20px;
  }
}
.servicies__part__img {
  border: 2px solid black;
  border-radius: 100%;
  padding: 20px 22px;
}
.servicies__part__img .bi:hover {
  color: #ff4e00;
}
.servicies__part__text {
  /* border: 1px solid greenyellow; */
  display: flex;
  flex-direction: column;
  width: 100%;
}
.servicies__part__text__title {
  font-size: 1rem;
  color: #ff4e00;
}
.servicies__part__text__p {
  font-size: 0.8rem;
  color: grey;
}

.footer {
  background-color: rgb(18, 18, 18);
  color: white;
  padding: 40px 10px;
  font-family: "Inconsolata", monospace;
}

.sec1 {
  /* border: 1px solid red; */
  margin-bottom: 40px;
}
.sec1__title {
  font-size: 1.2rem;
  font-weight: 400;
}
.sec1__liner {
  border-bottom: 0.2px dashed #616263;
  margin: 10px 0;
}
.sec1__text {
  color: #616263;
}
.sec1__list {
  display: flex;
  text-decoration: none;
  list-style: none;
  /* gap: 30px; */
  /* border: 1px solid red; */
  justify-content: space-between;
  padding: 0;
  width: 75%;
}
@media (min-width: 600px) {
  .sec1__list {
    width: 45%;
  }
}
.sec1__list__arg a img {
  width: 20px;
}
.sec1__local__title {
  color: #ff4e00;
  font-size: 1.2rem;
  font-weight: 300;
}
.sec1__local__text {
  color: #616263;
  display: flex;
  flex-direction: column;
  font-size: 300;
}
.sec1__local__text__email__link {
  text-decoration: none;
  color: #616263;
}

.sec3__list {
  list-style: none;
  padding: 0;
}
.sec3__list__arg {
  margin: 20px 0;
}
.sec3__list__arg__link {
  color: #616263;
  text-decoration: none;
  padding: 0;
}
.sec3__list__arg__link:hover {
  color: white;
  transition: all 1s;
}

.sec4__correo {
  position: relative;
  /* border: 1px solid red; */
}
.sec4__email {
  background-color: transparent;
  border: 1px solid #616263;
  outline: none;
  padding: 10px;
  width: 100%;
  color: white;
}
.sec4__img {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 15px;
}

.sec5__text {
  text-align: center;
  /* border: 1px solid red; */
  margin: auto;
}
.sec5__text__link {
  text-decoration: none;
  color: #ff4e00;
}

@media (min-width: 1000px) {
  .footer__cont {
    display: flex;
    justify-content: space-around;
    /* border: 1px solid white; */
    width: 100%;
  }
  .footer .sec1, .footer .sec2, .footer .sec3, .footer .sec4 {
    width: 22%;
    /* border: 1px solid green; */
  }
  .footer .sec1__list {
    width: 100%;
  }
}
.conteiner {
  position: relative;
}

.cartdiv {
  display: none;
  font-family: "Inconsolata", monospace;
  padding: 8px 15px;
  position: fixed;
  top: 100px;
  right: 30px;
  width: 40%;
  background-color: white;
  z-index: 1;
  border-radius: 5px;
  box-shadow: 1px 1px 10px 2px rgb(51, 51, 51);
}
@media (min-width: 600px) {
  .cartdiv {
    width: 400px;
  }
}
@media (max-width: 600px) {
  .cartdiv {
    width: 70%;
    top: 250px;
  }
  .cartdiv__content {
    overflow: scroll;
  }
  .cartdiv__content__cont {
    width: 300px;
    gap: 15px;
  }
  .cartdiv__content__cont__x {
    padding: 5px;
  }
}
.cartdiv__x {
  width: 10px;
  margin-bottom: 10px;
}
.cartdiv__x:hover {
  cursor: pointer;
}
.cartdiv__content {
  border: 1px solid rgb(194, 191, 191);
  border-radius: 5px;
  height: 80px;
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cartdiv__content__text {
  margin-top: 15px;
}
.cartdiv__content__cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid greenyellow; */
  width: 40%;
}
.cartdiv__content__cont__number {
  height: 30px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid rgb(194, 191, 191);
  text-align: center;
}
.cartdiv__content__cont__number::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.cartdiv__content__cont__x {
  height: 20px;
  width: 20px;
  font-size: 0.6rem;
  border: 0;
  background-color: rgb(215, 209, 209);
  color: white;
}
.cartdiv__content__cont__price {
  margin-top: 15px;
}
.cartdiv__final {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.cartdiv__final__text {
  font-weight: 700;
}
.cartdiv__final__textcolor {
  color: red;
  font-weight: 700;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  scroll-behavior: smooth;
}

/*# sourceMappingURL=style.css.map */
